.vscode/
Makefile
Makefile.in
aclocal.m4
ar-lib
autom4te.cache/
bin/*
compile
config.guess
config.log
config.status
config.sub
configure
depcomp
hdrs/*
include/
install-sh
lib/*
libtool
ltmain.sh
m4
missing
src/.deps/
src/.libs/
src/Makefile
src/Makefile.in
src/librcengine*
tests/tester/.deps/
tests/tester/.libs/
tests/tester/Makefile
tests/tester/Makefile.in
tests/tester/tester
tests/tester/tester-*
ylwrap
